{% extends 'base.html.twig' %}

{% block title %}
    {% if type =='add' %}{{ ('form.add'|trans) }}{% else %}{{ ('form.edit'|trans) }}{% endif%} {{ ('notes.a_note'|trans) }}
{% endblock %}

{% block body %}
    <h1 class="w3-text-cyan">
        {% if type =='add' %}{{ ('form.add'|trans) }}{% else %}{{ ('form.edit'|trans) }}{% endif%} {{ ('notes.a_note'|trans) }}
    </h1>

    {{ form(form) }}
{% endblock %}