{% extends 'base.html.twig' %}

{% block title %}{{ categoryName }}{% endblock %}

{% block body %}
    <h1 class="w3-text-cyan">{{ categoryName }} ({{ notes|length }})</h1>

    {% if type != 'public' and type != 'search' %}
        <p>
            <a href="{{ path('note_new_from_cat', {category: categoryId}) }}" title="{{ ('notes.new_note'|trans) }}">{{ ('notes.new_note'|trans) }}</a>&nbsp;
            {% if notes|length > 0 %}
                - <a href="{{ path('notes_sort', {category: categoryId}) }}" title="{{ ('notes.sort'|trans) }}">{{ ('notes.sort'|trans) }}</a>
            {% endif %}
        </p>
    {% endif %}

    {% for note in notes %}
        <fieldset id="line_{{ note.id }}">
            <legend class="legend-fieldset" id="legend_{{ note.id }}">
                {{ note.title }}
                {% if type != 'public' %}
                    <span class="note-categories">
                        ({% for category in note.getNoteCategories() %}{% if not(loop.first) %}, {% endif %}<a href="{{ path('category_notes', { category: category.getCategory().id }) }}">{{ category.getCategory().name }}</a>{% endfor %})
                    </span>
                    <span class="link-fieldset" id="links_{{ note.id }}">
                        &nbsp; <a class="link-edit" href="{{ path('note_edit', { id: note.id }) }}" title="{{ ('form.edit'|trans) }}">
                            <img src="/img/edit.svg" width="17" alt="{{ ('form.edit'|trans) }}" />
                        </a>
                        &nbsp; <a class="link-delete" href="{{ path('note_delete', { id: note.id }) }}" title="{{ ('form.delete'|trans) }}" id="delete_link_{{ note.id }}" onclick="if(confirm('{{ ('notes.delete_confirm'|trans) }}')){deleteNote('{{ note.id }}');return false;}">
                            <img src="/img/trash.svg" width="15" alt="{{ ('form.delete'|trans) }}" />
                        </a>&nbsp;
                    </span>
                {% endif %}
            </legend>

            <div class="content-fieldset" id="content_{{ note.id }}">
                {{ note.content|nl2br }}
            </div>
        </fieldset>
    {% endfor %}

    {% if type != 'public' and type != 'search' and notes|length > 5 %}
        <p>
            <a href="{{ path('note_new_from_cat', {category: categoryId}) }}" title="{{ ('notes.new_note'|trans) }}">{{ ('notes.new_note'|trans) }}</a>&nbsp;
            - <a href="{{ path('notes_sort', {category: categoryId}) }}" title="{{ ('notes.sort'|trans) }}">{{ ('notes.sort'|trans) }}</a>
        </p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        // suppression
        function deleteNote(noteId) {
            const url = document.querySelector("#delete_link_" + noteId).getAttribute("href");
            fetch(url, {
                method: "GET",
            })
            .then(function() {
                document.querySelector("#line_" + noteId).remove();
            });
        }
    </script>
{% endblock %}
